<extend name="Common@Manage:main"/>

<block name="content">

    <blockquote class="layui-elem-quote">
        Manage
    </blockquote>

    <div class="layui-card">
        <!--<div class="layui-card-header">基本介绍</div>-->
        <div class="layui-card-body">
            <ul class="layui-timeline">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">基本介绍</h3>
                        <p>基于 ThinkPHP3.2 和 Layui2.3 搭建的后台管理系统. <i class="layui-icon"></i></p>
                        <p>登录账户: dragon</p>
                        <p>登录密码: dragon</p>
                        <p>新增用户和重置密码的默认密码: 12341234</p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">已有功能</h3>
                        <ul>
                            <li>RBAC</li>
                            <li>Site Config</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">目录结构</h3>
                        <p>├─index.php       入口文件</p>
                        <p>├─README.md       README文件</p>
                        <p>├─App             应用目录</p>
                        <p>├─Public          资源文件目录</p>
                        <p>├─Runtime         缓存目录</p>
                        <p>├─ThinkPHP        框架目录</p>
                        <p>└─Uploads         上传文件目录</p>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">App下子目录结构</h3>
                        <p>├─Common          公共目录</p>
                        <p>├───Common          公共目录</p>
                        <p>├───Conf            配置文件目录</p>
                        <p>├───database        数据库文件目录</p>
                        <p>├───View            公共模板目录</p>
                        <p>├─Manage          后台目录</p>
                        <p>├───View            公共模板目录</p>
                        <p>└─...             其他自定义模块</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</block>