<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>未经授权</title>
    <link rel="icon" href="__PUBLIC__/favicon.ico">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
    <script src="__PUBLIC__/layui/layui.js"></script>
    <style>
        .x-y-center{
            font-size: 36px;
            color: #eca1a1;
            margin-top: 300px;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="layui-anim layui-anim-scaleSpring x-y-center">未获得任何授权,请稍后再试 或 联系管理员.</div>

</body>
</html>